<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/css/addRecipe.css">
   <title>Add Recipe</title>
</head>
<body>
   <div class="form-container">
      <h2>Add Your Own Recipe!</h2>
      <form action="{{ url_for('addRecipe', username=username) }}" method="POST">

         Recipe Name:
         <input type="text" name="Recipe Name" required><br>
         
         <label for="Ingredients">Ingredients:</label><br>
         <textarea id="Ingredients" name="Ingredients" rows="4" cols="50"></textarea><br>

         <label for="Instructions">Instructions:</label><br>
         <textarea id="Instructions" name="Instructions" rows="4" cols="50"></textarea><br>
         
         Number of Servings:
         <input type="number" min="0" step="0.25" name="Servings"><br>

         Total Calories:
         <input type="number" min="0" step="1" name="Calories"><br>

         Total Protein (g):
         <input type="number" min="0" step="0.1" name="Protein"><br>

         Total Fat (g): 
         <input type="number" min="0" step="0.1" name="Fat"><br>

         Total Carbs (g):
         <input type="number" min="0" step="0.1" name="Carbs"><br>

         <!-- Hidden input field to carry the username information -->
         <input type="hidden" name="username" value="{{ username }}">

         <button type="submit">Add</button>
         <br>
         <a href="{{ url_for('user_page', username=username) }}">Back to User Page</a>
      </form>
   </div>
</body>
</html>
