<!-- edit_recipe.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/addRecipe.css">
    <title>Edit Recipe</title>
</head>
<body>
    <div class="form-container">
        <h2>Edit an Existing Recipe</h2>
        <form action="{{ url_for('editRecipe', username=username) }}" method="POST">

            Recipe Name:
            <input type="text" name="Recipe Name" value="{{ targetName }}" required><br>

            <label for="Ingredients">Ingredients:</label><br>
            <textarea id="Ingredients" name="Ingredients" rows="4" cols="50">{{ targetIngredients }}</textarea><br>

            <label for="Instructions">Instructions:</label><br>
            <textarea id="Instructions" name="Instructions" rows="4" cols="50">{{ targetInstructions }}</textarea><br>

            Number of Servings:
            <input type="number" min="0" step="0.25" name="Servings" value="{{ targetServings }}"><br>

            Total Calories:
            <input type="number" min="0" step="1" name="Calories" value="{{ targetCalories }}"><br>

            Total Protein (g):
            <input type="number" min="0" step="0.1" name="Protein" value="{{ targetProtein }}"><br>

            Total Fat (g):
            <input type="number" min="0" step="0.1" name="Fat" value="{{ targetFat }}"><br>

            Total Carbs (g):
            <input type="number" min="0" step="0.1" name="Carbs" value="{{ targetCarbs }}"><br>

            <!-- Hidden input field to carry the username information -->
            <input type="hidden" name="username" value="{{ username }}">

            <!-- Hidden input field to carry the edited recipe's original name -->
            <input type="hidden" name="targetName" value="{{ targetName }}">

            <button type="submit">Save Changes</button>
            <br>
            <a href="{{ url_for('user_page', username=username) }}">Cancel</a>
        </form>
    </div>
</body>
</html>
