<!--home page with all correct links -->

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Recipes & Fitness</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      flex-direction: column;
    }

    h1  {
      text-align: center;
      font-size: 50px;
    }

    h2 {
      text-align: center;
      font-size: 30px;
    }


  </style>
</head>
<body>
  <h1>Welcome to Recipes & Fitness</h1>
  <h2><a href="/login">Log In!</a></h2>
</body>
</html>