<!--home page with all correct links -->

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/index.css">
  <title>Welcome to Recipes & Fitness</title>
</head>
<body>
  <div class="slideshow-container">

  </div>
  <h1>Welcome to Recipes & Fitness</h1>
  <h2><a href="/login">Log In!</a></h2>

  <script src="../static/js/slideshow.js"></script>
</body>
</html>