<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Success</title>
</head>
<body>
    <h1>Welcome, {{ name }}!</h1>

    {% if username == 'admin' %}
        <h2>Users Table</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Height</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>{{ user[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>Enter Ingredient to Search!</h3>
        <form action="/search" method="post">
            Ingredient:
            <input type="text" name="Ingredient"></br>
            <input type="submit" value="Search">
        </form>
        <p><a href="/addRecipe">Add a Recipe!</a></p>
    {% endif %}

    <p><a href="/">Go Home</a></p>

</body>
</html>